.App {
  font-family: sans-serif;
  text-align: center;
}


.display{
  margin: 0 auto;
  background-color: peru;
  width: fit-content;
  max-width: 40%;
  padding: .7em;
  overflow-wrap: break-word;  
  /*  long words break and wrap to the next line
   when they exceed the container's width */
}