.App {
  font-family: sans-serif;
  text-align: center;
}


.city-lists{
  padding-top: 2em;
  display: inline-block;
  font-size: large;
}

#del-btn{
  color: red;
  border-color: red;
  border-radius: 5px;
  margin-left: .4em;
  font-size: 0.5em; /* Smaller font size */
  padding: 0.2em 0.4em 1em 0.4em;

  height: 1.5em; 
  width: 1.8em;
}