.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
button {
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}
