@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --black: #000;
  --white: #fff;
  --blue: #2d7fea;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 120%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--black);
  color: var(--white);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px;
}

ul {
  display: flex;
  gap: 50px;
}
.display {
  background-color: white;
  height: 300px;
  max-height: 50vh;
  width: 100%;
  color: black;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  color: var(--blue);
  font-weight: 600;
}
.display {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
